body{
	display: flex;
	background-color: black;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.hidden{
	display: none;
}

.grid-item{
	border: 2px dashed grey;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.selected-tile{
   background-color: red;
   /*luminous red, to demarcate max distance that can be travelled
    on hover background luminous green*/
}

.selected-tile:hover{
	background-color: green;
}

#message, #attack-display{
	color: white;
}

#game-board{
	display: grid;
	grid-gap: 10px;
	margin: 10px auto;
	box-sizing: border-box;
	justify-content: center;
	grid-template-columns: repeat(10, 40px);
	grid-template-rows: repeat(10, 40px);
}

#heads-up-display{
	display: flex;
	width: 500px;
	height: 300px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url('img/heads_up_display.jpg');
	border-radius: 25px;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#move-button, #attack-button{
	height: 30px;
  background: none;
  color: aqua;
  text-transform: uppercase;
  text-decoration: none;
  border: 0.2em solid aqua;
  padding: 0.5em 1em;
  margin: 5px;
}